@import url("./fonts.css");
html,
body {
  background-color: #f1f1f1;
}
* {
  margin: 0;
  padding: 0;
  color: #1d1f25;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "HarmonyOS", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

a {
  color: #1d1f25;
  text-decoration: none;
}

img {
  vertical-align: top;
}

/* demo css */
#app > main {
  margin: 24px;
  padding: 24px;
  background-color: #f5f7fa;
}
#app > main > section {
  padding: 8px;
  margin-bottom: 24px;
}
#app > main > section > h3 {
  font-size: 16px;
  color: #1d1f25;
  line-height: 36px;
  position: relative;
  padding-left: 12px;
  font-weight: 500;
}
#app > main > section > h3::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 4px;
  height: 18px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#babfda),
    to(#5c99f5)
  );
  background-image: linear-gradient(#4a62e7, #5c99f5);
  border-radius: 2px;
  content: "";
  -webkit-transform: translateY(-50%) skewY(45deg);
  transform: translateY(-50%) skewY(45deg);
}
#app > main > section > table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #e8e8e8;
}
#app > main > section > table td,
#app > main > section > table th {
  border:1px solid #e8e8e8;
  font-size: 14px;
  padding: 10px 16px;
}
#app > main > section > table td:empty::after {
  content: '-';
}

/* 旗帜 */
[flag] {
  position: relative;
  padding-left: 16px;
}
[flag]::before {
  width: 4px;
  height: 18px;
  display: block;
  background-image: linear-gradient(#4a62e7, #5c99f5);
  border-radius: 2px;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

html::-webkit-scrollbar {
  display: none;
}
