@import "~@packages/assets/styles/xdesign.css";
/*滚动条 start*/  
::-webkit-scrollbar {  
    width: 7px;  
    height: 4px;  
    background-color: #F5F5F5;  
}
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track {  
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    background: #fff ;
}  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb {  
    border-radius: 3px;  
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color:rgba(158, 158, 158, 0.7);  
}  
::-webkit-scrollbar-thumb:hover {  
    border-radius: 3px;  
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color:rgba(158, 158, 158, 1);  
}
#app {
    color: #1d1f24;
    font-family: Segoe UI Symbol,Arial Narrow Bold,sans-serif;
    display: flex;
    height: 100vh;
    background-color: #f5f7fa;
    > aside {
        width: 240px;
        padding: 12px;
        border-right: 1px solid var(--area-border-color);
        > h1{
            height: 56px;
            line-height: 56px;
            background-image: url('~@/assets/images/logo.svg');
            background-size: 70% auto;
            background-repeat: no-repeat;
            text-indent: -999em;
            background-position: left center;
        }
        > ul > li {
            height: 40px;
            display: flex;
            align-items: center;
            > a {
                flex: 1;
                display: block;
                height: 32px;
                line-height: 32px;
                text-indent: 1em;
                border-radius: 2px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: var(--theme-hover-color);
                }
                &[aria-current] {
                    color: #fff;
                    background-color: var(--theme-default-color);
                }
            }
        }
    }
    > main {
        flex: 1;
        padding: 24px;
        overflow-y: auto;
        > section {
            margin-bottom: 24px;
            >  h3 {
                font-size: 16px;
                color: #1d1f24;
                line-height: 36px;
                position: relative;
                padding-left: 12px;
                font-weight: 500;
                &::before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    display: inline-block;
                    width: 4px;
                    height: 18px;
                    background-image: linear-gradient(#4a62e7, #5c99f5);
                    border-radius: 2px;
                    content: "";
                    -webkit-transform: translateY(-50%) skewY(45deg);
                    transform: translateY(-50%) skewY(45deg);
                  }
              }
            > p {
                line-height: 22px;
            }
            > table {
                width: 100%;
                border-collapse: collapse;
                background-color: #fff;
                th, td {
                    padding: 10px 16px;
                    border: 1px solid var(--table-border-color);
                }
                td:empty::after {
                    content: "-";
                }
            }
        }
    }
}
// 简单表格
table.table-simple {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    th, td {
        height: 40px;
        border: 1px solid var(--table-border-color);
    }
    tbody tr td:nth-child(2n + 1) {
        width: 114px;
        background-color: var(--thead-bgcolor);
    }
}